<mat-nav-list>
    <span *ngIf="loginService.getUserRole() === 'ROLE_ADMIN'">
        <h2 matSubheader>Pages</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users">Users</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/categories">Categories</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/questions">Questions</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/quizes">Quizes</a>
    </span>

    <span *ngIf="loginService.getUserRole() === 'ROLE_NORMAL' && isMobileDevice">
        <h2 matSubheader>Pages</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/user/quizzes" (click)="closeSideBar()">Quizzes</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/user/analytics" (click)="closeSideBar()">Analytics</a>
    </span>

    <span *ngIf="isMobileDevice">
        <mat-divider></mat-divider>
    
        <h2 matSubheader>Menus</h2>
        <a mat-list-item routerLinkActive="list-item-active" (click)="closeSideBar(); account();">My Account</a>
        <a mat-list-item routerLinkActive="list-item-active" (click)="closeSideBar(); logout();">Logout</a>
    </span>
</mat-nav-list>