<mat-nav-list>
    <div class="profile-card">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="ankit kumar">
        <div class="header">
            <h2>Ankit Kumar</h2>
            <h4>ankit@example.com</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/profile">Profile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users">Users</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/genres">Genres</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/subjects">Subjects</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/categories">Categories</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/topics">Topics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/questions">Questions</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/quizes">Quizes</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/instructions">Instructions</a>
    
    <mat-divider></mat-divider>
    
    another menu
</mat-nav-list>