<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()" *ngIf="showToggleOption">
            <mat-icon>menu</mat-icon>
        </button>
        <h2 routerLink="/" style="cursor: pointer;">Exam Portal</h2>

        <button mat-icon-button (click)="toggleSideBar()" *ngIf="loginService.getUserRole() === 'ROLE_NORMAL' && isMobileDevice">
            <mat-icon>{{ navService.toggleOpenIcon ? 'close' : 'menu' }}</mat-icon>
        </button>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" *ngIf="loginService.getUserRole() === 'ROLE_NORMAL' && !isMobileDevice">
            <ul fxLayout="row" fxLayoutGap="20px" class="user-menu">
                <li>
                    <button mat-button [routerLink]="['/user/quizzes']" routerLinkActive="active">
                        Quizzes
                    </button>
                </li>
                <li>
                    <button mat-button [routerLink]="['/user/analytics']" routerLinkActive="active">
                        Analytics
                    </button>
                </li>
            </ul>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" *ngIf="!isMobileDevice">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="account()">
                            <mat-icon>manage_accounts</mat-icon>
                            My Account
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>logout</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>

    </mat-toolbar-row>
</mat-toolbar>