<div style="padding-top: 30px;">
    <mat-card class="mat-elevation-z0 outline">
      <mat-card-content>
        <form autocomplete="off" (ngSubmit)="send(forgotPassword)" #forgotPassword="ngForm">
          <mat-card-title>
              Trouble Logging In? <app-back [path]="'/login'" style="float: left;"></app-back>
            </mat-card-title>
            <mat-card-subtitle style="margin-top: 20px;">Enter the email associated with your account.<br />We'll send you the verification code.</mat-card-subtitle>
            <object class="login-logo" type="image/svg+xml" data="assets/login/login-2.svg"></object>
            <ng-container *ngIf="!instructionSent">
              <mat-form-field class="full-width-input">
                <p>Registered Email</p>
                <input matInput id="email" type="email" name="email" ngModel>
              </mat-form-field>
              <br>
              <br>
              <span style="display: flex; flex-direction: column;">
                <button mat-raised-button color="primary" style="width: 100%;" type="submit">Send Code</button>
              </span>
            </ng-container>
            <ng-container *ngIf="instructionSent">
              <div class="outline post-instruction-msg-box">
                <p>Please check your email inbox and click on the provided link to reset your password. 
                  <!-- If you don't receive email, <a (click)="resendCode()">click here to resend</a></p> -->
              </div>
            </ng-container>
        </form>
        <br>
        <div>
            <p>Return to <a routerLink="/login">Login</a></p>
            <p>Don't have an account? <a routerLink="/signup">Create</a></p>
        </div>
    </mat-card-content>
    </mat-card>
</div>