<a routerLink="/admin/users" style="text-decoration: none;">
    <mat-icon >arrow_back_ios_new</mat-icon>
</a>

<div>
    upload photo

    <mat-divider></mat-divider>
    
    name -- first & last
    
    <mat-divider></mat-divider>
    
    email
    
    <mat-divider></mat-divider>
    
    password 
    
    <mat-divider></mat-divider>
    
    phone

    <mat-divider></mat-divider>

    status

    <mat-divider></mat-divider>

    role

    <mat-divider></mat-divider>

    Add Button 
</div>



