@use '@angular/material' as mat;

mat-card {
  @include mat.card-overrides((
    outlined-container-color: white,
    title-text-line-height: 20px,
  ));
    // max-width: 400px;
    margin: auto;
    // text-align: center;
    padding: 30px;
}

.mat-mdc-card-content {
  padding: 0 !important;
}

.mat-mdc-card-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500
}

mat-form-field {
    display: block;
    @include mat.form-field-overrides ((
      outlined-caret-color: var(--mat-sys-primary),
      outlined-label-text-size: 14px,
      outlined-outline-color: #c4c6d0,
      outlined-hover-outline-color: var(--mat-sys-primary),
    ));
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.details {
    margin-top: 30px;
}
  
.name, .username-password {
    display: flex;
    flex-direction: column;
}
  
mat-form-field {
    width: 100%;
    p {
        font-size: smaller;
        line-height: 0.2;
    }
}
  
.profile-card {
    text-align: center;
    padding: 5px 20px 5px 20px;
    width: 350px;
    margin-top:40px;
    img {
        margin-top: 20px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        border: 1.5px solid;
    }
}
  
.mat-progress-bar {
    border-radius: 2px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-radio-button {
    width: 120px;
}

.radio-span {
    mat-radio-group {
        display: flex;
        mat-radio-button {
            min-width: 50%;
        }
    }
    p {
        font-size: smaller;
        line-height: 0.2;
    }
}

.form-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: -0.5em;
    margin-left: -0.5em;
    padding-bottom: 20px;
  
    button {
      margin-bottom: 0.5em;
      margin-left: 0.5em;
    }
  }
  
@media (min-width: 32rem) {
    .name, .username-password {
        flex-direction: row;
    }
    .form-buttons {
        flex-direction: row;
        button {
            flex-basis: 100%;
        }
    }
}

@media (max-width: 32rem) {
    .container {
        display: block;
    }
}
