<div style="padding-top: 30px;">
    <mat-card class="mat-elevation-z0 outline">
        <mat-card-content>
            <form autocomplete="off" (ngSubmit)="resetPassword(f)" #f="ngForm">
                <mat-card-title>
                New Password <app-back [path]="'/login'" style="float: left;"></app-back>
                    </mat-card-title>
                    <mat-card-subtitle style="margin-top: 20px;">You can now set your new password</mat-card-subtitle>
                    <mat-form-field class="full-width-input">
                        <p>New Password</p>
                        <input matInput id="newPassword" [type]="hideNewPassword ? 'password' : 'text'" name="newPassword" [(ngModel)]="newPassword">
                        <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" style="zoom: 1.2;vertical-align: -3vh;margin-right: 3px;">
                            <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <p>Confirm Password</p>
                        <input matInput id="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" name="confirmPassword" [(ngModel)]="confirmPassword">
                        <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" style="zoom: 1.2;vertical-align: -3vh;margin-right: 3px;">
                            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                    </mat-form-field>
                    <br>
                    <br>
                    <span style="display: flex; flex-direction: column;">
                    <button 
                        [disabled] = "!newPassword || !confirmPassword || (newPassword !== confirmPassword)"
                        mat-raised-button color="primary" style="width: 100%;" type="submit">Update Password</button>
                    </span>
            </form>
            <br>
        </mat-card-content>
    </mat-card>
</div>