mat-card {
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding: 30px;
  }
  
mat-form-field {
    display: block;
}

mat-form-field {
    p {
      font-size: smaller;
      line-height: 0.2;
    }
  }

mat-card-subtitle {
    a {
        text-decoration: none;
        float: right;
        font-size: smaller;
    }
}

p a {
    text-decoration: none;
    font-weight: bold;
}
.login-logo {
    height: 250px;
}

.outline {
  border: 1px solid #e0e0e0;
}