<div class="main-div" *ngIf="data">
    <mat-card class="example-card">
        <img style="display: block;margin: 0 auto;margin-bottom: 10px;" [src]="scoreIcon" />
        <mat-card-content>
            <p>Score: <strong>{{ data.score }}</strong></p>
            <p>Correct Questions: <strong>{{ data.correctQuestions }}</strong></p>
            <p>Incorrect Questions: <strong>{{ data.incorrectQuestions }}</strong></p>
            <p>Total Attempted Questions: <strong>{{ data.totalAttemptedQuestions }}</strong></p>
            <p>Total Questions: <strong>{{ data.totalQuestions }}</strong></p>
        </mat-card-content>
    </mat-card>
    <div class="btn-links">
        <button mat-stroked-button color="primary" [routerLink]="['/certificate/', data.certificateId]">Certificate</button>
        <button mat-stroked-button color="primary" routerLink="/user/quizzes">Back to Quizzes</button>
    </div>
</div>
