<div class="main-div">
    <mat-card class="example-card" *ngIf="data">
        <img style="display: block;margin: 0 auto;" [src]="scoreIcon" />
        <mat-card-content>
            <p>Score: <strong>{{ data.score }}</strong></p>
            <p>Correct Questions: <strong>{{ data.correctQuestions }}</strong></p>
            <p>Incorrect Questions: <strong>{{ data.incorrectQuestions }}</strong></p>
            <p>Total Attempted Questions: <strong>{{ data.totalAttemptedQuestions }}</strong></p>
            <p>Total Questions: <strong>{{ data.totalQuestions }}</strong></p>
        </mat-card-content>
    </mat-card>
</div>
