.main-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mat-stroked-button {
    margin-top: 10px;
}

.example-card {
    width: 350px;
}

@media (min-width: 32rem) {
    .btn-links{
        flex-direction: row;
    }
    .mat-stroked-button {
        width: 160px;
    }
}