mat-toolbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-tabs > a {
    font-size: 14px;
    font-weight: 400;
    min-width: 100px;
    text-decoration: none;
    color: black;

    &:hover {
        font-weight: 500;
        font-size: 15px;
            color: var(--mat-sys-primary);
    }
}