<mat-toolbar color="primary" style="background: none; color: #000;">
  <mat-toolbar-row>
    <object style="cursor: pointer; width: 300px;margin-top: 5px;" type="image/svg+xml"
      data="assets/logo-2.svg"></object>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="40px">
        <li>
          <button mat-icon-button routerLink="/login">
            <mat-label>Login</mat-label>
          </button>
        </li>
        <li>
          <button mat-icon-button routerLink="/signup">
            <mat-label>Register</mat-label>
          </button>
        </li>
        <li>
          <button mat-icon-button routerLink="/about">
            <mat-label>About</mat-label>
          </button>
        </li>
      </ul>
    </div>

  </mat-toolbar-row>
</mat-toolbar>