<!-- <div class="main">
    <div class="actions">
        <p class="timer">Time: {{ formattedTime() }}</p>
        <span></span>
        <button type="button" mat-flat-button color="primary" (click)="finishQuiz()" [disabled]="stopTimer">Finish
            Quiz</button>
    </div>
    <div class="quiz">
        <app-user-question [questions]="quizQuestions" [quizMetaData]="quizMetaData"></app-user-question>
    </div>
</div>

<div *ngIf="scoreGenerated" class="score-main">
    <app-quiz-score [data]="scoreDetails"></app-quiz-score>
</div> -->

<div class="main">
    <div class="question">
        <div class="question-main">
            <div class="desc">
                <a mat-button class="ques-nav" 
                    (click)="navigateQues('prev')" 
                    [disabled]="displayedQuesIndex===0">
                     Back
                </a>
                <div class="ques-text"><p>{{ quizQues.question }}</p></div>
                <a mat-button class="ques-nav" 
                    (click)="navigateQues('next')"
                    >
                    {{ displayedQuesIndex !== totalQuestionLength-1 ? 'Next' : 'Submit' }}
                </a>
            </div>
            <div class="choices">
                @for (choice of allChoices; track $index) {
                    <span class="choice" 
                        [class.selected]="$index === selectedChoiceIndex"
                        (click)="selectedChoiceIndex=$index">
                        <span class="choice-text">{{ choice }}</span>
                        <mat-icon class="check-icon" *ngIf="$index === selectedChoiceIndex">
                            check_circle_outline
                        </mat-icon>
                    </span>
                }
            </div>
        </div>
        
    </div>
    <div class="side">
        <div class="timer-main">
            <div class="container">
                <div class="timer">
                    <div class="time">
                        <span>{{ minutes() }}</span>
                    </div>
                    <div class="separator">
                        <span>:</span>
                    </div>
                    <div class="time">
                        <span>{{ seconds() }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tracker-main">
            <div class="tr-container">
            </div>
        </div>
    </div>
</div>


