.main {
    margin-top: 70px;
    display: flex;
    width: 100%;
    height: 80vh;
    gap: 10px;

    .question {
        width: 90%;
        padding-left: 6px;

        .question-main {
            background: var(--mat-sys-primary-container);
            border-radius: 28px;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;

            .desc {
                width: 100%;
                height: 40%;
                background: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
                border-radius: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--mat-sys-primary);
                color: var(--mat-sys-primary);

                p {
                    font-size: 25px;
                    padding: 10px;
                    width: 85%;
                }
            }

            .choices {
                width: 100%;
                height: 60%;
                background: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
                border-radius: 28px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid var(--mat-sys-primary);
                color: var(--mat-sys-primary);

                .choice {
                    border: 1px solid var(--mat-sys-primary);
                    width: 85%;
                    height: 60px;
                    font-size: 20px;
                    padding: 15px;
                    border-radius: 12px;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: background-color 0.3s ease;
                    color: var(--mat-sys-primary);

                    &:not(.selected):hover {
                        box-shadow: 5px;
                        // background-color: var(--mat-sys-primary-container);
                        background-color: #005dbbac;
                        color: white;
                    }

                    &.selected {
                        background-color: var(--mat-sys-primary);
                        color: white;
                        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
                    }

                    .choice-text {
                        flex: 1;
                    }

                    .check-icon {
                        margin-left: 10px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .side {
        flex: 1;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .timer-main {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 6px;
            flex: 1;

            .container {
                zoom: 0.65;
                background: var(--mat-sys-primary-container);
                border-radius: 28px;
                height: 243px;
                width: 264px;
                display: flex;
                align-items: center;
                justify-content: center;

                .timer {
                    height: 95px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    .time {
                        border: 2px solid var(--mat-sys-primary);
                        background: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
                        width: 96px;
                        height: 100%;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: 65px;
                            color: var(--mat-sys-primary);
                        }
                    }
                }

                .separator {
                    width: 24px;
                    height: 95px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 5px;

                    span {
                        font-size: 65px;
                        color: var(--mat-sys-primary);
                    }
                }
            }

        }

        .tracker-main {
            width: 100%;
            flex: 3;
            padding-right: 6px;

            .tr-container {
                zoom: 0.65;
                background: var(--mat-sys-primary-container);
                border-radius: 28px;
                height: 100%;
                width: 264px;
            }

        }
    }
}