<div class="main" *ngIf="loadInstructions">
    <div class="content">
        <mat-card>
            <app-back [path]="'/user/quizzes'" [label]="'Back to list'"></app-back>
            <mat-card-header>
                <mat-card-title>Read the instructions carefully</mat-card-title>
                <mat-card-subtitle>One more step to start quiz</mat-card-subtitle>
              </mat-card-header>
              <mat-divider></mat-divider>
              <br>
              <mat-card-content>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </li>
                    <li>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Epsum factorial non deposit quid pro quo hic escorol. </li>
                    <li>Souvlaki ignitus carborundum e pluribus unum. </li>
                    <li>Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. </li>
                    <li>Quote meon an estimate et non interruptus stadium. </li>
                    <li>Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. </li>
                    <li>Epsum factorial non deposit quid pro quo hic escorol. </li>
                  </ul>
                  <button class="start-quiz" mat-flat-button color="primary" (click)="startQuiz()">Start Quiz</button>
              </mat-card-content>
        </mat-card>
    </div>
</div>  

<div class="main" *ngIf="!loadInstructions && dataLoaded && !scoreGenerated">
    <div class="actions">
        <p class="timer">Time: {{ formattedTime() }}</p>
        <button type="button" mat-raised-button color="primary" (click)="finishQuiz()" [disabled]="stopTimer">Finish Quiz</button>
    </div>
    <div class="quiz">
        <app-user-question [questions]="quizQuestions" [quizMetaData]="quizMetaData"></app-user-question>
    </div>
</div>

<div *ngIf="scoreGenerated" class="score-main">
    <app-quiz-score [data]="scoreDetails"></app-quiz-score>
</div>