<mat-card>
<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt50" *ngIf="profile">
            <div class="col-md-3 border-right mt50">
                    <div class="col-md-3 border-right">
                        <div class="align-items-center text-center" style="display: inline-grid;">
                            <img class="profile-image mt5 mb10" width="150px" 
                            src="assets/profiles/admin_profile.jpg">
                            <span style="font-weight: bold;">{{ profile.firstName + ' '+ profile.lastName}}</span>
                            <span class="text-black-50">{{ profile.email }}</span>
                            <span> </span>
                        </div>
                    </div>
            </div>
            <div class="col-md-5 mt50">
              <form [formGroup]="profileForm" (ngSubmit)="updateProfile(profileForm)" autocomplete="off" aria-autocomplete="none">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>User Name</mat-label>
                  <input matInput placeholder="Enter here" formControlName="username">
                </mat-form-field>
    
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput placeholder="Enter here" formControlName="password">
                </mat-form-field>
    
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="Enter here" formControlName="firstName">
                </mat-form-field>
    
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Enter here" formControlName="lastName">
                </mat-form-field>
    
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput placeholder="Enter here" formControlName="email">
                </mat-form-field>
    
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Phone</mat-label>
                  <input type="number" matInput placeholder="Enter here" formControlName="phone">
                </mat-form-field>
    
                <div class="container btn-spacd text-center">
                  <button mat-raised-button color="primary" type="submit">Update</button>
                  <span class="col-md-2"></span>
                  <button style="min-width: 84.08px;" mat-raised-button (click)="reset()"> Revert </button>
                </div>
              </form>
            </div>
      </div>
    </div>
  </div>
</mat-card>