@use '@angular/material' as mat;

mat-card {
    margin: auto;
    margin-top: 70px;
    padding: 30px;
    @include mat.card-overrides((
        outlined-container-color: white,
        title-text-line-height: 20px,
    ));
}

mat-form-field {
    display: block;
    @include mat.form-field-overrides ((
      outlined-caret-color: var(--mat-sys-primary),
      outlined-label-text-size: 14px,
      outlined-outline-color: #c4c6d0,
      outlined-hover-outline-color: var(--mat-sys-primary),
    ));
}

.user-portal-banner-align {
  margin-top: 65px;
  padding-top: 20px;
  height: 90%;
}

.container {
  display: flex;
  justify-content: space-around;
}

.details {
  padding: 10px; 
  margin-top: 50px;
}

.name, .username-password {
  display: flex;
}

mat-form-field {
  width: 100%;
  p {
    font-size: smaller;
    line-height: 0.2;
  }
}

.submit-btn { 
  width: 150px;
}

@media (max-width: 32rem) {
    .submit-btn {
      width: 100%;
    }
}