<mat-card [ngClass]="{'user-portal-banner-align': role === 'USER'}">
  <mat-card-subtitle style="padding-left: 10px;">My Account Details</mat-card-subtitle>
  <mat-divider></mat-divider>
  <div class="container" >
    <!-- <div class="profile-card">
      <mat-progress-bar *ngIf="success" mode="determinate" [value]="timer"></mat-progress-bar>
      <br>
      <img [src]="profilePicUrl" alt="profile_pic">
      <input style="display: none;" type="file" (change)="onFileSelected($event)" #fileInput>
      <button type="button" mat-icon-button color="primary" (click)="fileInput.click()">
        <mat-icon>add_a_photo</mat-icon>
      </button>
    </div> -->
    <div class="details" *ngIf="profile">
      <form [formGroup]="profileForm" (ngSubmit)="updateProfile(profileForm)" autocomplete="off"
        aria-autocomplete="none">
        <div class="name">
          <mat-form-field>
            <p>First Name</p>
            <input matInput formControlName="firstName">
          </mat-form-field>
          <span style="width: 10px; flex-grow: 0.5;" *ngIf="(isHandset$ | async) ? false : true"></span>
          <mat-form-field *ngIf="(isHandset$ | async) ? false : true">
            <p>Last Name</p>
            <input matInput formControlName="lastName">
          </mat-form-field>
        </div>
        <mat-form-field *ngIf="(isHandset$ | async) ? true : false"> 
          <p>Last Name</p>
          <input matInput formControlName="lastName">
        </mat-form-field>
        <div class="username-password">
          <mat-form-field>
            <p>Username</p>
            <input matInput formControlName="username">
          </mat-form-field>
          <span style="width: 30px; flex-grow: 1;" *ngIf="(isHandset$ | async) ? false : true"></span>
          <mat-form-field *ngIf="(isHandset$ | async) ? false : true">
            <p>Password</p>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" style="zoom: 0.8; vertical-align: -4vh; margin-right:5px">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-form-field *ngIf="(isHandset$ | async) ? true : false">
          <p>Password</p>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" style="zoom: 1.2;vertical-align: -3vh;margin-right: 3px;">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <p>Email</p>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <p>Phone</p>
          <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field *ngIf="role === 'ADMIN'">
          <p>Role</p>
          <input matInput formControlName="role">
        </mat-form-field>
        <br>
        <br>
        <button mat-flat-button color="primary" style="width: 120px;" type="submit">Save</button>
      </form>
    </div>
  </div>
</mat-card>