.mat-card {
  height: 100%;
}

.user-portal-banner-align {
  margin-top: 65px;
  padding-top: 20px;
  height: 90%;
}

.container {
  display: flex;
  justify-content: space-around;
}

.details {
  padding: 8px; 
  margin-top: 10px;
}

.name, .username-password {
  display: flex;
}

mat-form-field {
  width: 100%;
  p {
    font-size: smaller;
    line-height: 0.2;
    color: #0000008a;
  }
}

.profile-card {
  text-align: center;
  padding: 5px 20px 5px 20px;
  width: 350px;
  margin-top:40px;
  img {
      margin-top: 20px;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      border: 1.5px solid #3f51b5;
  }
}

.mat-progress-bar {
  border-radius: 2px;
}