.homepage-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 98%;
}

.btns {
    display: flex;
    flex-direction: column;

}
button{
    margin: 6px 10px;
    line-height: 42px;
}

.banner {
    padding-top: 16px;
}
.welcome-logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 32rem) {
    .welcome-logo {
        height: 350px;
    }
}