<app-navbar *ngIf="(isHandset$ | async) ? false : true"></app-navbar>

<div class="homepage-container" *ngIf="(isHandset$ | async) ? false : true">
    <object class="welcome-logo" type="image/svg+xml" data="assets/homewall.svg">
    </object>
</div>

<div class="homepage-container" *ngIf="(isHandset$ | async) ? true : false">
    <!-- <div > -->
        <object class="welcome-logo" type="image/svg+xml" data="assets/mobile/welcome-logo-3.svg">
        </object>
    <!-- </div> -->
    <div class="btns">
        <button mat-flat-button color="primary">Login</button>
        <button mat-stroked-button color="primary" >Register</button>
    </div>
</div>