<div class="guest-container">
    <div class="option" (click)="guestAdminLogin()">
        <mat-icon style="margin-left: 25px;margin-top: 18px;" color="primary">manage_accounts</mat-icon>
        <p style="text-align: center;color: #3f51b5;font-weight: bold;">Admin</p>
    </div>
    <div class="option" (click)="guestUserLogin()">
        <mat-icon style="margin-left: 25px;margin-top: 18px;" color="primary">person</mat-icon>
        <p style="text-align: center;color: #3f51b5;font-weight: bold;">User</p>
    </div>
    <!-- <button mat-stroked-button color="primary" type="button" style="display: flex; flex-direction: column;">
        <mat-icon>person</mat-icon>
        <label>Guest User</label>   
    </button>
    <button mat-stroked-button color="primary" type="button">
        <mat-icon>manage_accounts</mat-icon>
        Guest Admin
    </button> -->
</div>