table {
    width: 100%;
}

.mat-form-field {
    width: 95%;
    margin-left: 5px;
}

.difficulty-level-easy {
    color: #00af9b;
}

.difficulty-level-medium {
    color: #ffb700;
}

.difficulty-level-hard {
    color: #ff2d54;
}