// .difficulty-level-easy {
//     color: #00af9b;
//     background-color: #07fd4733;
//     border-color: #00af9b;
// }

// .difficulty-level-medium {
//     color: #ffb700;
//     background-color: #ffb70026;
//     border-color: #ffb700;
// }

// .difficulty-level-hard {
//     color: #ff2d54;
//     background-color: #ff002f3b;
//     border-color: #ff2d54;
// }

// .mat-chip {
//     border-style: solid !important;
//     border-width: thin !important;
//     font-size: smaller !important;
//     font-weight: normal;
//     margin-bottom: 10px !important;
// }

// .mat-chip.mat-standard-chip::after {
//     background: none !important;
//     text-decoration: none !important;
// }

// .mat-standard-chip {
//     padding: 7px 7px !important;
//     min-height: 20px !important;

// }

// mat-form-field input {
//     font-weight: lighter;
// }

@use '@angular/material' as mat;

mat-card {
    margin: auto;
    padding: 30px;
    margin-top: 60px;
    @include mat.card-overrides((
        outlined-container-color: white,
        title-text-line-height: 20px,
    ));
}

mat-card-content {
    margin-top: 30px;
    max-width: 450px;
}

.mat-mdc-card-content {
  padding: 0 !important;
}

.mat-mdc-card-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500
}

mat-form-field {
    display: block;
    @include mat.form-field-overrides ((
      outlined-caret-color: var(--mat-sys-primary),
      outlined-label-text-size: 14px,
      outlined-outline-color: #c4c6d0,
      outlined-hover-outline-color: var(--mat-sys-primary),
    ));
}

.form-buttons {
    display: flex;
    flex-direction: column;
    // margin-bottom: -0.5em;
    margin-left: -0.5em;
    padding-bottom: 20px;
  
    button {
      margin-bottom: 0.5em;
      margin-left: 0.5em;
      width: 100%;
    }

    @media (min-width: 32rem) {
      flex-direction: row;
        button {
            flex-basis: 100%;
        }
    }
}
