// :host ::ng-deep .mat-chip {
//     border-style: solid !important;
//     border-width: thin !important;
//     border-color: #bdbdbd !important; 
//     background-color: white  !important;
//     color: black !important;
//     font-size: xx-small !important;
    
// }

// :host ::ng-deep .mat-chip.mat-standard-chip::after {
//     background: none !important;
//     text-decoration: none !important;
// }

// :host ::ng-deep .mat-standard-chip {
//     padding: 7px 7px !important;
//     min-height: 20px !important;
    
// }

table {
    width: 100%;
}

.mat-form-field {
    width: 90%;
}

.add-user-btn {
    margin: 0 0 0 20px; // top right bottom left
}
