mat-slide-toggle {
    margin: 8px 0;
    display: block;
    cursor: pointer;
}

:host ::ng-deep .mat-chip {
    border-style: solid !important;
    border-width: thin !important;
    /* border-color: #3f51b5 !important;  */
    /* border-color: #e0e0e0 !important;  */
    border-color: #bdbdbd !important; 
    background-color: white  !important;
    color: black !important;
    font-size: xx-small !important;
    
}

:host ::ng-deep .mat-chip.mat-standard-chip::after {
    /* background: #000; */
    background: none !important;
    text-decoration: none !important;
}

:host ::ng-deep .mat-standard-chip {
    padding: 7px 7px !important;
    min-height: 20px !important;
    
}
