// .mat-card {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

// .mat-card-content {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }
@use '@angular/material' as mat;

mat-card {
    margin: auto;
    padding: 30px;
    // margin-top: 60px;
    @include mat.card-overrides((
        outlined-container-color: white,
        title-text-line-height: 20px,
    ));
}

mat-card-content {
    margin-top: 30px;
    max-width: 450px;
}

.mat-mdc-card-content {
  padding: 0 !important;
}

.mat-mdc-card-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500
}

.content {
    flex-grow: 1;
    margin-left: 5px;
    padding: 10px;
}

.ques-nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.first-ques {
    justify-content: flex-end;
}

.choices {
    padding: 10px;
}

.choice-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.group-1, .group-2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.choice-radio-button {
    margin: 5px;
    flex-basis: 100%;
}

.unmark-btn {
    float: right; 
    cursor: pointer; 
}

@media (min-width: 32rem) {
    .choice-radio-group {
        flex-direction: row;
    }
}
