.outline {
    border: thin solid #E1E5EA;
    box-sizing: border-box;
}

.mat-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mat-card-content {
    flex-grow: 1;
}

.ques-nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.choices {
    padding: 10px;
}

.choice-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.choice-radio-button {
    margin: 5px;
}

// @media (min-width: 32rem) {
//     .choice-radio-group {
//         flex-direction: column;
//     }
// }
