.mat-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mat-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex-grow: 1;
    margin-left: 5px;
    padding: 10px;
}

.ques-nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.first-ques {
    justify-content: flex-end;
}

.choices {
    padding: 10px;
}

.choice-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.group-1, .group-2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.choice-radio-button {
    margin: 5px;
    flex-basis: 100%;
}

.unmark-btn {
    float: right; 
    cursor: pointer; 
}

@media (min-width: 32rem) {
    .choice-radio-group {
        flex-direction: row;
    }
}
