<mat-card>
    <mat-card-subtitle>Question {{ currentQuesNumber + 1 }} of {{ totalQuestions }}</mat-card-subtitle>
    <mat-card-content>
        <div class="content">
            <span [innerHTML]="currentQuestion.content"></span>
        </div>
        <mat-divider></mat-divider>
        <div class="choices">
            <mat-radio-group aria-label="Select an option" class="choice-radio-group" color="primary"
                [(ngModel)]="currentSelectedOptionId" (change)="onOptionSelect()" >
                <div class="group-1">
                    <mat-radio-button class="choice-radio-button" [value]="currentQuestion.questionChoices[0].id" 
                        [checked]="currentQuestion.questionChoices[0].id === currentSelectedOptionId">
                        {{ currentQuestion.questionChoices[0].description }}
                    </mat-radio-button>
                    <mat-radio-button class="choice-radio-button" [value]="currentQuestion.questionChoices[1].id"
                        [checked]="currentQuestion.questionChoices[1].id === currentSelectedOptionId">
                        {{ currentQuestion.questionChoices[1].description }}
                    </mat-radio-button>
                </div>
                <div class="group-2">
                    <mat-radio-button class="choice-radio-button" [value]="currentQuestion.questionChoices[2].id"
                        [checked]="currentQuestion.questionChoices[2].id === currentSelectedOptionId">
                        {{ currentQuestion.questionChoices[2].description }}
                    </mat-radio-button>
                    <mat-radio-button class="choice-radio-button" [value]="currentQuestion.questionChoices[3].id"
                        [checked]="currentQuestion.questionChoices[3].id === currentSelectedOptionId">
                        {{ currentQuestion.questionChoices[3].description }}
                    </mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </mat-card-content>
    <mat-card-footer class="ques-nav-section">
        <button type="button" mat-button color="primary" [disabled]="firstQuestion || submitted" (click)="previousQues()">Previous</button>
        <button type="button" mat-button color="primary" (click)="lastQuestion ? onSubmitConfirmDialog() : nextQues()" [disabled]="submitted">{{ lastQuestion ? 'Submit' : 'Next'}}</button>
    </mat-card-footer>
</mat-card>


<!-- if want to remove elevation of mat card use the below class-->
<!-- class="mat-elevation-z0 outline" -->