.back-btn {
    .mat-icon{
        font-size: 15px !important;
        width: 20px;
        height: 20px;
        color: var(--mat-sys-primary)
    }
    a {
        text-decoration: none; 
        display: flex;
        align-items: center;
    }
    p {
        height: 22px;
        color: var(--mat-sys-primary);
    }
}