<mat-card>
    <div class="logo-font mb20 mt5">
      <h3 *ngIf="!newQuestion" style="display: inline;">Questions</h3>
  
      <mat-icon *ngIf="newQuestion" style="display: inline; font-size: 16px; vertical-align: -2px;" class="cursor-pointer"
        (click)="backToQuestions()">arrow_back_ios_new
      </mat-icon>
      <h3 *ngIf="newQuestion" style="display: inline;" class="logo-font cursor-pointer" (click)="backToQuestions()">Back
        to
        Questions</h3>
  
      <button *ngIf="!newQuestion" style="float: right;margin-top: -5px;" mat-flat-button color="primary"
        (click)="addQuestion()" class="logo-font">Add Question</button>
    </div>
  
    <div *ngIf="!newQuestion; else newQuestionTemplate">
      <mat-list *ngIf="questions">
        <mat-list-item *ngFor="let q of questions;let i=index;let l=count" [ngClass]="{ 'inactive-text': !q.enabled }">
          <mat-icon mat-list-icon>folder</mat-icon>
  
          <div mat-line class="mat-item-with-chip"> {{ q.title }}</div>
          <!-- <mat-chip-list appearance="outline" class="mychip" style="float: left !important; width: 100% !important;"
            [disabled]="!q.enabled">
            <mat-chip appearance="outline">{{ getGenreName(s.genreId) }}</mat-chip>
          </mat-chip-list> -->
  
  
          <mat-chip-list appearance="outline" class="mychip" style="float: left !important; width: 100% !important;"
            [disabled]="!q.enabled">
            <mat-chip appearance="outline">{{ getQuestionProficiency(q.proficiencyId) }}</mat-chip>
          </mat-chip-list>
          <div mat-line style="font-size: 11px;">{{ q.description }}</div>
  
  
          <!-- 3 dot menu -->
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
  
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editQuestion(q)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteQuestion(q.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="toggleQuestionStatus(q.id, i)">
              <mat-icon>{{ q.enabled ? 'notifications_off' : 'notifications_on' }}</mat-icon>
              <span>{{ q.enabled ? 'Disable' : 'Enable' }}</span>
            </button>
          </mat-menu>
  
          <mat-divider *ngIf="i < l-1"></mat-divider>
  
        </mat-list-item>
      </mat-list>
    </div>
  
  </mat-card>
  <ng-template #newQuestionTemplate>
    <div class="bootstarp-wrapper">
      <div class="container">
        <div class="row">
          <div>
            <mat-card-subtitle style="display: inline; margin-left: 15px;">New Question</mat-card-subtitle>
  
            <form #questionForm="ngForm" autocomplete="off">
  
              <!-- left side form -->
              <div class="col-md-7" style="float: left;">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Title</mat-label>
                  <input autofocus required type="text" name="title" matInput placeholder="Enter title"
                    [(ngModel)]="newQuestionData.title">
                </mat-form-field>
  
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Content</mat-label>
                  <textarea name="description" matInput [(ngModel)]="newQuestionData.description"
                    placeholder="Enter question here" rows="7"></textarea>
                </mat-form-field>
  
                <mat-divider [vertical]="true"></mat-divider>
  
                <!-- Option 1 -->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Option 1</mat-label>
                  <input autofocus type="text" name="option1Text" matInput placeholder="Enter option 1"
                    [(ngModel)]="newQuestionChoices[0].description">
                </mat-form-field>
  
  
                <!-- Option 2 -->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Option 2</mat-label>
                  <input autofocus type="text" name="option2Text" matInput placeholder="Enter option 2"
                    [(ngModel)]="newQuestionChoices[1].description">
                </mat-form-field>
  
                <!-- Option 3 -->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Option 3</mat-label>
                  <input autofocus type="text" name="option3Text" matInput placeholder="Enter option 3"
                    [(ngModel)]="newQuestionChoices[2].description">
                </mat-form-field>
  
                <!-- Option 4 -->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Option 4</mat-label>
                  <input autofocus type="text" name="option4Text" matInput placeholder="Enter option 4"
                    [(ngModel)]="newQuestionChoices[3].description">
                </mat-form-field>
  
  
                <button mat-flat-button color="primary" type="submit" (click)="submitForm(questionForm)"
                  class="logo-font-bold">Save</button>
                <span class="col-md-2"></span>
                <button mat-stroked-button color="primary" type="reset" (click)="questionForm.reset()" type="reset"
                  class="logo-font-bold">Clear</button>
              </div>
  
              <!-- right section form  -->
  
              <div class="col-md-5" style="display: inline;float: right">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Topic</mat-label>
                  <mat-select [(ngModel)]="newQuestionData.topicId" name="topic">
                    <mat-option *ngFor="let topc of topicsList" [value]="topc.id">
                      {{ topc.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-card-subtitle style="display: inline;">Proficieny</mat-card-subtitle>
                <div class="mt20 full-width" style="margin-bottom: 95px;">
                  <mat-radio-group aria-label="Proficieny Level" appearance="outline" *ngFor="let prof of proficiencyList;let i = index">

                    <mat-radio-button [value]="i+1" [checked]="prof.id == newQuestionData.proficiencyId" color="primary" 
                    class="mr20 col-md-2" >{{ prof.level }}</mat-radio-button>
                  </mat-radio-group>
                </div>
  
                <!-- option 1 is correct -->
                <mat-slide-toggle color="primary" name="option1" [(ngModel)]="newQuestionChoices[0].correct" style="margin-bottom: 35px;">Correct</mat-slide-toggle>
  
                <!-- option 2 is correct -->
                <mat-slide-toggle color="primary" name="option2" [(ngModel)]="newQuestionChoices[1].correct" style="margin-bottom: 35px;">Correct</mat-slide-toggle>
  
                <!-- option 3 is correct -->
                <mat-slide-toggle color="primary" name="option3" [(ngModel)]="newQuestionChoices[2].correct" style="margin-bottom: 35px;">Correct</mat-slide-toggle>
  
                <!-- option 4 is correct -->
                <mat-slide-toggle color="primary" name="option4" [(ngModel)]="newQuestionChoices[3].correct">Correct</mat-slide-toggle>
  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>