<div class="new-user-form-container">
    <mat-card>
        <app-back [path]="'/admin/quizes'" [label]="'Back to list'"></app-back>
        <mat-card-title>{{ addQuiz ? 'Add New Quiz' : 'Edit Quiz Details'}}</mat-card-title>
        <mat-divider></mat-divider>
        <br>
        <mat-stepper [linear]="isLinear" #stepper [disableRipple]="true">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Add Quiz Details</ng-template>
                    <br>
                    <mat-button-toggle-group formControlName="proficiency" aria-label="Proficiency Level">
                        <mat-button-toggle *ngFor="let proficiency of proficiencyList" [value]="proficiency.id">{{
                            proficiency.level }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-form-field appearance="standard">
                        <p>Title</p>
                        <input matInput formControlName="title">
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <p>Description</p>
                        <textarea matInput formControlName="description" rows="3">
                </textarea>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <p>Max Marks</p>
                        <input matInput formControlName="maxMarks">
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <p>Max Time (in minutes)</p>
                        <input matInput formControlName="maxTime">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext (click)="moveToQuestionsPage()">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Add Questions">
                <br>
                <form [formGroup]="secondFormGroup">
                    <mat-slide-toggle class="example-margin" color="primary" (change)="questionToggle()" [checked]="loadQuestions">
                        Load Questions
                    </mat-slide-toggle>
                    <!-- <p>{{shoes.selectedOptions.selected.length}} Question Added</p> -->
                    <mat-selection-list *ngIf="loadQuestions" 
                        color="primary" [disableRipple]="true" formControlName="questions" >
                        <mat-list-option *ngFor="let ques of questions" checkboxPosition="before" [value]="ques.id">
                            <span [innerHTML]="ques.content"></span>
                        </mat-list-option>
                    </mat-selection-list>

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup" label="Add Instructions">
                <br>
                <form [formGroup]="thirdFormGroup">
                    <p>Do you want to add instructions to this quiz ?</p>
                    <mat-slide-toggle class="example-margin" color="primary" formControlName="instructionEnabled" (change)="instructionToggle($event)">
                        Add Instructions
                    </mat-slide-toggle>

                    <mat-selection-list *ngIf="thirdFormGroup.value.instructionEnabled == true && instructionsLoaded" 
                        color="primary" [disableRipple]="true" formControlName="instructions" (selectionChange)="onInstructionSelection()">
                        <mat-list-option *ngFor="let instruction of instructions" checkboxPosition="before" [value]="instruction.id">
                            <span [innerHTML]="instruction.content"></span>
                        </mat-list-option>
                    </mat-selection-list>
                    
                    
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <br>
                <p>You are now done. Do you want to publish the quiz now?</p>
                <mat-slide-toggle class="example-margin" color="primary" [(ngModel)]="quizPublished">
                    Publish
                </mat-slide-toggle>
                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button (click)="stepper.reset(); formReset();" type="button">Reset</button>
                    <button mat-button color="primary" type="submit" (click)="submitQuiz()">Submit</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card>
</div>