<div class="new-user-form-container">
    <mat-card>
        <app-back [path]="'/admin/quizes'" [label]="'Back to list'"></app-back>
        <mat-card-title>{{ addQuiz ? 'Add New Quiz' : 'Edit Quiz Details'}}</mat-card-title>
        <mat-divider></mat-divider>
        <br>
        <mat-stepper [linear]="isLinear" #stepper [disableRipple]="true">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup" *ngIf="dataLoaded">
                    <ng-template matStepLabel>{{ addQuiz ? 'Add Quiz Details' : 'Edit Quiz Details'}}</ng-template>
                    <br>
                    <mat-form-field appearance="standard">
                        <p>Title</p>
                        <input matInput formControlName="title">
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <p>Description</p>
                        <textarea matInput formControlName="description" rows="3">
                </textarea>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <p>Max Marks</p>
                        <input matInput formControlName="maxMarks">
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <p>Max Time (in minutes)</p>
                        <input matInput formControlName="maxTime">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext (click)="moveToQuestionsPage()" type="button">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" [label]="addQuiz ? 'Add Questions' : 'Edit Questions'" *ngIf="dataLoaded">
                <br>
                <form [formGroup]="secondFormGroup">
                    <mat-slide-toggle class="example-margin" color="primary" (change)="questionToggle()" [checked]="loadQuestions">
                        Load Questions
                    </mat-slide-toggle>
                    <mat-selection-list *ngIf="loadQuestions" 
                        color="primary" [disableRipple]="true" formControlName="questions" >
                        <mat-list-option *ngFor="let ques of questions" checkboxPosition="before" [value]="ques.id">
                            <span [innerHTML]="ques.description"></span>
                        </mat-list-option>
                    </mat-selection-list>
                    <div>
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <br>
                <p>You are now done. Do you want to publish the quiz now?</p>
                <mat-slide-toggle class="example-margin" color="primary" [(ngModel)]="quizPublished">
                    Publish
                </mat-slide-toggle>
                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button (click)="stepper.reset(); formReset();" type="button">Reset</button>
                    <button mat-button color="primary" type="submit" (click)="submitQuiz()">Submit</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card>
</div>