:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    height: 100%; 
}

.app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin-bottom: 5px;
}
