<app-header [showToggleOption]="false" [isMobileDevice]="(isHandset$ | async) ? true : false"
    class="mat-elevation-z6 app-navbar"></app-header>

<ng-container *ngIf="(isHandset$ | async) ? true : false">
    <mat-drawer-container class="container">
        <mat-drawer [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="navService.toggleOpenIcon" position="start">
            <app-sidebar [isMobileDevice]="(isHandset$ | async) ? true : false"></app-sidebar>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</ng-container>

<ng-container *ngIf="(isHandset$ | async) ? false : true">
    <div class="container" style="padding: 10px;">
        <router-outlet></router-outlet>
    </div>
</ng-container>

<app-footer></app-footer>