@use '@angular/material' as mat;

mat-card {
  @include mat.card-overrides((
    subtitle-text-color: #0000008a,
    outlined-container-color: white,
    subtitle-text-size: smaller,
    subtitle-text-weight: 400,
    title-text-line-height: 20px,
    subtitle-text-line-height: 20px
  ));
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.mat-mdc-card-content {
  padding: 0 !important;
}

.mat-mdc-card-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500
}
  
.mat-mdc-card-subtitle {
  margin-top: -5px;
  margin-bottom: 16px;
  a {
      text-decoration: none;
      float: right;
      font-size: small;
      // color: var(--mat-sys-on-primary-container);
  }
}

mat-form-field {
    display: block;
    @include mat.form-field-overrides ((
      outlined-caret-color: var(--mat-sys-primary),
      outlined-label-text-size: 14px,
    ));
}

mat-form-field {
    p {
      font-size: smaller;
      line-height: 0.2;
    }
}

p a {
    text-decoration: none;
    font-weight: bold;
}
.login-logo {
    height: 250px;
}

.outline {
  border: 1px solid #e0e0e0;
}