<h1 mat-dialog-title>New Subject</h1>
<form (ngSubmit)="addNewSubject(newSubjectForm)" #newSubjectForm="ngForm">
  <mat-dialog-content>
    <mat-form-field>
      <p>Title</p>
      <input matInput name="title" ngModel>
    </mat-form-field>

    <mat-form-field>
      <p>Description</p>
      <input matInput name="description" ngModel>
    </mat-form-field>

    <br>
    <div class="radio-container">
      <p>Enabled</p>
      <mat-radio-group name="enabled" ngModel>
        <mat-radio-button value="true">Active</mat-radio-button>
        <mat-radio-button value="false">Inactive</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" type="submit">Add</button>
  </mat-dialog-actions>
</form>