<mat-list>
  <div mat-subheader>Available Quizzes ({{ data.length }})</div><!-- ({{($search | async)?.length}})-->
  <mat-form-field style="width: 95%; margin-left: 10px;" *ngIf="true">
    <mat-icon matPrefix style="color: #00000061;">search</mat-icon>
    <input matInput autocomplete="off" style="margin-bottom: 5px;padding-left: 5px;" [formControl]="search">
  </mat-form-field>
  <div *ngFor="let item of data">
    <mat-card style="margin-bottom: 8px;border-radius: 0;padding-bottom: 8px;">
      <h4 style="margin-bottom: 4px;">{{ item.title }}</h4>
      <p style="color: #0000008a;font-size: smaller;">{{ item.description }}</p>
      <!-- <p style="font-size: smaller;"
        [ngClass]="{'difficulty-level-easy':item.proficiencyId === 1, 
        'difficulty-level-medium': item.proficiencyId === 2, 
        'difficulty-level-hard':item.proficiencyId === 3}">
        {{ item.proficiencyId === 1 ? 'Easy' : (item.proficiencyId === 2 ? 'Medium' : 'Hard') }}
    </p> -->
    <mat-chip-list appearance="outline">
      <mat-chip color="primary" 
        appearance="outline"
        [ngClass]="{'difficulty-level-easy':item.proficiencyId === 1, 
        'difficulty-level-medium': item.proficiencyId === 2, 
        'difficulty-level-hard':item.proficiencyId === 3}">
        {{ item.proficiencyId === 1 ? 'Easy' : (item.proficiencyId === 2 ? 'Medium' : 'Hard') }}
      </mat-chip>
    </mat-chip-list>
    
      <mat-divider></mat-divider>
      <p style="font-size: smaller;padding-top: 10px;">20 Questions &bull; 30 mins
        <span style="float: right; color: #3f51b5;" (click)="startQuiz(3)">Start Quiz</span>
      </p>
    </mat-card>
  </div>
</mat-list>