<mat-card>
    <div class="logo-font mb20 mt5">
      <h3 *ngIf="!newSubject" style="display: inline;">Subjects</h3>
  
      <mat-icon *ngIf="newSubject" style="display: inline; font-size: 16px; vertical-align: -2px;" class="cursor-pointer"
        (click)="backToSubjects()">arrow_back_ios_new
      </mat-icon>
      <h3 *ngIf="newSubject" style="display: inline;" class="logo-font cursor-pointer" (click)="backToSubjects()">Back to
        Subjects</h3>
  
      <button *ngIf="!newSubject" style="float: right;margin-top: -5px;" mat-flat-button color="primary"
        (click)="addSubject()" class="logo-font">Add Subject</button>
    </div>
  
    <div *ngIf="!newSubject; else newSubjectTemplate">
      <mat-list>
        <mat-list-item *ngFor="let s of subjects;let i=index;let l=count" [ngClass]="{ 'inactive-text': !s.enabled }">
          <mat-icon mat-list-icon>folder</mat-icon>
          
          <!-- <div class="mat-list-text">
            <div class="mat-line" style="display: inline !important; float: left !important;">{{ s.title }}
              <mat-chip-list appearance="outline" class="mat-chip-list" style="display: inline-block;margin-left: 10px !important;">
                <div class="mat-chip-list-wrapper">
                  <mat-chip appearance="outline" class="mat-chip mat-primary mat-standard-chip" role="option" tabindex="-1" aria-disabled="false">{{ getGenreName(s.genreId) }}</mat-chip>
                </div>
              </mat-chip-list>
            </div>
            <div class="mat-line" style="font-size: 11px;">{{ s.description }}</div>
          </div> -->
  
  
          <div mat-line class="mat-item-with-chip"> {{ s.title }}</div>
          <mat-chip-list appearance="outline" class="mychip" style="float: left !important; width: 100% !important;" [disabled]="!s.enabled">
            <mat-chip appearance="outline">{{ getGenreName(s.genreId) }}</mat-chip>
          </mat-chip-list>
          <div mat-line style="font-size: 11px;">{{ s.description }}</div>
          
  
          <!-- 3 dot menu -->
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
  
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editSubject(s)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteSubject(s.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="toggleSubjectStatus(s.id, i)">
              <mat-icon>{{ s.enabled ? 'notifications_off' : 'notifications_on' }}</mat-icon>
              <span>{{ s.enabled ? 'Disable' : 'Enable' }}</span>
            </button>
          </mat-menu>
  
          <mat-divider *ngIf="i < l-1"></mat-divider>
  
        </mat-list-item>
      </mat-list>
    </div>
  
  </mat-card>
  <ng-template #newSubjectTemplate>
    <div class="bootstarp-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <mat-card-subtitle>New Subject</mat-card-subtitle>
  
            <form #subjectForm="ngForm" autocomplete="off">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Title</mat-label>
                <input autofocus required type="text" name="title" matInput placeholder="Enter title"
                  [(ngModel)]="newSubjectData.title">
              </mat-form-field>
  
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea name="description" matInput [(ngModel)]="newSubjectData.description"
                  placeholder="Enter description" rows="7"></textarea>
              </mat-form-field>
  
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Genre</mat-label>
                <mat-select [(ngModel)]="newSubjectData.genreId" name="genre">
                  <mat-option *ngFor="let option of genresList" [value]="option.id">
                    {{option.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field> 
  
  
  
              <button mat-flat-button color="primary" type="submit" (click)="submitForm(subjectForm)"
                class="logo-font-bold">Save</button>
              <span class="col-md-2"></span>
              <button mat-stroked-button color="primary" type="reset" (click)="subjectForm.reset()" type="reset"
                class="logo-font-bold">Clear</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>