@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    @include mat.theme((
        color: mat.$azure-palette,
        typography: Roboto,
        density: -2
    ));

    @include mat.card-overrides((
        elevated-container-color: white,
    ));

    @include mat.checkbox-overrides((
        unselected-hover-icon-color: var(--mat-sys-primary),
        unselected-hover-state-layer-color: var(--mat-sys-primary),
        label-text-color: var(--mat-sys-primary),
    ));
}
:root {
    --mdc-filled-button-container-height: 40px;
    --mdc-protected-button-container-height: 40px;
    --mdc-outlined-button-container-height: 40px;
}