mat-card {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 30px;
}

mat-form-field {
  display: block;
  padding: 0;
  p {
    font-size: smaller;
    line-height: 0.2;
  }
}

mat-card-subtitle {
  a {
      text-decoration: none;
      float: right;
      font-size: smaller;
  }
}

p a {
  text-decoration: none;
  font-weight: bold;
}
.login-logo {
  height: 250px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
  font-size: smaller;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  margin-bottom: 2px;
}

.example-margin {
  margin: 0 3px;
}

.consent {
  margin: 0;
  a{
    text-decoration: none;
    font-weight: bold;
  }
}

.outline {
  border: 1px solid #e0e0e0;
}